
black = #333

body
  margin: 50px

  font-family: 'Helvetica Neue', sans-serif
  font-size: 14px
  line-height: 20px
  color: black

h1
  font-size: 3em
  line-height: 1.2em
  margin: 0.5em 0

h1,h2
  font-weight: 300

  strong
    font-weight: 600
